$primary: #3dcfd3;
$dark: #161616;
$pure: #ffffff;
$ternary: #898989;
$light: #f2f2f2;

:root {
  --work-item-index: 1;
  --hamBurger: 111;
}

html {
  scroll-behavior: smooth;
}

.main-wrapper {
  position: relative;

  .hamburger {
    display: none;
    position: fixed;
    z-index: var(--hamBurger);
    right: 20px;
    top: 20px;
    cursor: pointer;
    flex-direction: column;

    span {
      background: $primary;
      width: 28px;
      height: 2px;
      margin-bottom: 8px;
      transform-origin: left;
      transition: all 0.3s ease-in-out;
    }

    @media only screen and (max-width: 1024px) {
      display: flex;
    }
  }

  .mobile-nav {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: $dark;
    transition: all 0.3s ease-in-out;

    ul {
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
      height: 50%;
      align-items: center;
      list-style-type: none;

      li a {
        color: $primary;
      }
    }
  }
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../assets/Poppins-Regular.ttf");
}

.btn {
  padding: 0.4rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-primary {
  background: $primary;
  color: $dark;
  &:hover {
    background: transparent;
    border-color: $primary;
    color: $primary;
  }
}

.btn-secondary {
  background: transparent;
  border-color: $primary;
  color: $primary;
  &:hover {
    background: $primary;
    color: $dark;
  }
}

.container {
  width: 70%;
  margin: 0px auto;
  @media only screen and (max-width: 1024px) {
    width: 90%;
  }
}

header {
  font-family: "MyWebFont";
  background-color: $dark;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
  height: 650px;
  overflow: hidden;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .left {
      &__icons {
        a {
          color: $pure;
          text-decoration: none;
          margin-right: 2rem;
          &:hover {
            color: $primary;
          }
          transition: all 0.3s ease;
        }
      }
    }
  }

  .hero {
    display: flex;
    align-items: center;
    padding: 3rem 0;

    .left {
      flex: 3;

      img {
        width: 100%;
        border-radius: 10px 100px 100px 10px;
      }

      @media only screen and (max-width: 768px) {
        flex: 2;
      }
    }

    .right {
      flex: 4;
      color: $pure;
      margin-left: 2rem;
      margin-top: -1rem;

      h6 {
        color: $primary;
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 3rem;
        font-weight: 100;
        margin-bottom: 2rem;
        line-height: 3rem;

        span {
          color: $primary;
        }
      }

      p {
        line-height: 2rem;
        margin-bottom: 1rem;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .hero {
      padding: 8rem 0;
    }

    nav {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    .hero {
      flex-direction: column;

      .right {
        position: relative;
        top: -140px;
        left: -20px;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));

        h6 {
          position: relative;
          top: -150px;
        }
      }
    }

    height: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 94%, 0 100%);
  }
}

section.about {
  padding-top: 4rem;
  .container {
    display: flex;
    align-items: center;

    .left {
      flex: 3;
      font-size: 3rem;
      text-align: center;
      font-weight: 200;
      line-height: 2.5rem;

      span {
        color: $primary;
        font-size: 2.5rem;
      }

      @media only screen and (max-width: 768px) {
        flex: 2;
      }
    }

    .right {
      flex: 4;
      margin-left: 2rem;

      h3 {
        margin-bottom: 1rem;
        font-weight: 400;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: $ternary;
      }
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;

      .right {
        margin: 2rem;
      }
    }
  }
}

section.skills {
  margin-top: 4rem;
  padding-top: 4rem;
  background-color: $light;
  padding-bottom: 2rem;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .heading {
      color: $primary;
      font-size: 3rem;
      font-weight: 200;
      line-height: 2.5rem;

      span {
        font-size: 2.5rem;
        color: $dark;
      }
    }

    .card-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .card {
        text-align: center;
        height: 300px;
        width: 300px;
        position: relative;
        margin-top: 100px;
        perspective: 1000px;

        img {
          width: 100px;
          height: 70px;
          margin-top: -3rem;
          z-index: 1;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        .inner-card {
          position: relative;
          height: 100%;
          width: 100%;
          transition: transform 0.6s;
          transform-style: preserve-3d;
        }

        &:hover .inner-card {
          transform: rotateY(180deg);
        }

        .front,
        .back {
          backface-visibility: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front {
          background-color: $pure;

          h2 {
            padding-top: 3rem;
            font-weight: 400;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
          }

          p {
            color: $ternary;
            line-height: 1.6rem;
            padding: 1rem;
          }
        }

        .back {
          font-family: "MyWebFont";
          background-color: $primary;
          transform: rotateY(180deg);

          ul {
            list-style: none;
            margin-top: 3rem;
          }
        }

        @media only screen and (min-width: 1000px) {
          margin-right: 30px;
        }
      }
    }
  }
}

section.works {
  padding-top: 4rem;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .heading {
      color: $primary;
      font-size: 3rem;
      font-weight: 200;
      line-height: 2.5rem;

      span {
        font-size: 2.5rem;
        color: $dark;
      }
    }

    .content {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .work-item {
        width: 300px;
        height: 300px;
        margin-top: 100px;
        background-size: cover;
        background-size: contain;
        overflow: hidden;
        z-index: var(--work-item-index);

        .work-item-data {
          height: 100%;
          flex-direction: column;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          transform: translateY(300px);
          transition: transform 0.5s ease;
          background: $primary;
          opacity: 0.8;

          .title {
            font-size: 20px;
            color: $dark;
          }

          * > a {
            color: $dark;
          }
        }

        @media only screen and (min-width: 1000px) {
          margin-right: 30px;
        }

        @media only screen and (max-width: 600px) {
          margin-top: 50px;
        }
      }

      .work-item:hover {
        .work-item-data {
          transform: translateY(0px);
        }
      }
    }
  }
}
