$primary: #3dcfd3;
$dark: #161616;
$pure: #ffffff;
$ternary: #898989;
$light: #f2f2f2;

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../assets/Poppins-Regular.ttf");
}

.btn {
  padding: 0.4rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-primary {
  background: $primary;
  color: $dark;
  &:hover {
    background: transparent;
    border-color: $primary;
    color: $primary;
  }
}

.btn-secondary {
  background: transparent;
  border-color: $primary;
  color: $primary;
  &:hover {
    background: $primary;
    color: $dark;
  }
}

.container {
  width: 70%;
  margin: 0px auto;
}

header {
  font-family: "MyWebFont";
  background-color: $dark;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
  height: 650px;
  overflow: hidden;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .left {
      &__icons {
        a {
          color: $pure;
          text-decoration: none;
          margin-right: 2rem;
          &:hover {
            color: $primary;
          }
          transition: all 0.3s ease;
        }
      }
    }
  }

  .hero {
    display: flex;
    align-items: center;
    padding: 3rem 0;

    .left {
      flex: 3;

      img {
        width: 100%;
        border-radius: 10px 100px 100px 10px;
      }
    }

    .right {
      flex: 4;
      color: $pure;
      margin-left: 2rem;
      margin-top: -1rem;

      h6 {
        color: $primary;
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 3rem;
        font-weight: 100;
        margin-bottom: 2rem;
        line-height: 3rem;

        span {
          color: $primary;
        }
      }

      p {
        line-height: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}

section.about {
  padding-top: 4rem;
  .container {
    display: flex;
    align-items: center;

    .left {
      flex: 3;
      font-size: 3rem;
      text-align: center;
      font-weight: 200;
      line-height: 2.5rem;

      span {
        color: $primary;
        font-size: 2.5rem;
      }
    }

    .right {
      flex: 4;
      margin-left: 2rem;

      h3 {
        margin-bottom: 1rem;
        font-weight: 400;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: $ternary;
      }
    }
  }
}

section.services {
  margin-top: 4rem;
  padding-top: 4rem;
  background-color: $light;
  padding-bottom: 2rem;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .heading {
      color: $primary;
      font-size: 3rem;
      font-weight: 200;
      line-height: 2.5rem;

      span {
        font-size: 2.5rem;
        color: $dark;
      }
    }

    .card-wrapper {
      padding-top: 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;

      .card {
        text-align: center;
        height: 300px;
        width: 300px;
        position: relative;
        perspective: 1000px;

        img {
          width: 100px;
          height: 70px;
          margin-top: -3rem;
          z-index: 1;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        .inner-card {
          position: relative;
          height: 100%;
          width: 100%;
          transition: transform 0.6s;
          transform-style: preserve-3d;
        }

        &:hover .inner-card {
          transform: rotateY(180deg);
        }

        .front,
        .back {
          backface-visibility: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front {
          background-color: $pure;

          h2 {
            padding-top: 3rem;
            font-weight: 400;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
          }

          p {
            color: $ternary;
            line-height: 1.6rem;
            padding: 1rem;
          }
        }

        .back {
          font-family: "MyWebFont";
          background-color: $primary;
          transform: rotateY(180deg);

          ul {
            list-style: none;
            margin-top: 3rem;
          }
        }
      }
    }
  }
}

section.works {
  padding-top: 4rem;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .heading {
      color: $primary;
      font-size: 3rem;
      font-weight: 200;
      line-height: 2.5rem;

      span {
        font-size: 2.5rem;
        color: $dark;
      }
    }

    .content {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 2rem;

      .work-item {
        width: 300px;
        height: 300px;
        margin-bottom: 10px;
        background: url("../assets/video2chat.png");
        background-size: cover;
        background-size: contain;
        overflow: hidden;

        .work-item-data {
          height: 100%;
          flex-direction: column;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          transform: translateY(300px);
          transition: transform 0.5s ease;
          background: $primary;
          opacity: 0.8;

          .title {
            font-size: 20px;
            color: $dark;
          }

          * > a {
            color: $dark;
          }
        }
      }

      .work-item:hover {
        .work-item-data {
          transform: translateY(0px);
        }
      }
    }
  }
}
